<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Codeb2cc's Weather</title>
    <meta name="description" content="中国气象局气象探测中心基本反射率监测">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/dist/css/app.css">

    <script src="/dist/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body ng-app="weather">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <section class="weather main">
      <div class="row">
        <div class="large-12 columns">
          <h1 class="header">中国气象局气象探测中心 <small>基本反射率监测</small></h1>
          <hr />
        </div>
      </div>

      <div class="row" ng-controller="AppCtrl">
        <div class="large-9 push-3 columns">
          <div class="row">
            <div class="large-12 columns">
              <div class="large-11 large-centered columns">
                <div class="slideshow-wrapper" style="height: 483px;">
                  <div class="preloader"></div>
                  <ul id="weather_orbit" data-orbit com-orbit>
                    <li ng-repeat="view in views">
                      <img ng-src="{{ view.src }}" data-idx="{{ $index }}" onerror="this.src='/img/data-missing.png';"/>
                      <div class="orbit-caption">{{ view.text }}</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="large-3 pull-9 columns">
          <div class="row">
            <div class="section-container accordion" data-section="accordion" com-section>
              <section id="city_{{ city.code }}" class="section" ng-repeat="city in cityInfo | filter:{ major: true }" ng-click="citySelect($event, city.code)">
                <p class="title">
                  <a href="#" ng-bind="city.label_ZH + ' - ' + city.label_EN"></a>
                </p>
              </section>
            </div>
          </div>
          <div class="row">
            <div class="section">
              <select ng-model="cityOption" ng-change="citySelect()">
                <option></option>
                <option ng-repeat="city in cityInfo | filter:{ major: false }" value="{{ city.code }}" com-chosen>{{ city.label_ZH }} - {{ city.label_EN }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <hr />
          <blockquote>基本反射率表示单位体积中降水粒子直径6次方的总和，它的值的大小反映了气象目标内部降水粒子的尺度和密度分布，用来表示气象目标的强度。<br /><cite class="right">百度百科</cite></blockquote>
          <br />
          <div class="large-4 large-centered columns">
            <p class="copyright">Copyright &copy; 2013 - Codeb Fan</p>
          </div>
        </div>
      </div>
    </section>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/dist/js/vendor/jquery-2.0.3.min.js"><\/script>')</script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script>window.angular || document.write('<script src="/dist/js/vendor/angular-1.0.7.min.js"><\/script>')</script>

    <script src="/dist/js/foundation.js"></script>

    <script src="/dist/js/plugins.js"></script>
    <script src="/dist/js/app.js"></script>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36025716-2', 'codeb2cc.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
